@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Mooli, san-serif;
--secondary-font: Arial, Helvetica,sans-serif;
}


header, footer {
    background-color: var(--primary-color);
    color: white;
}
header h2 {
    color: white;
    font-family: var(--secondary-font);
}
a:link {
    color: var(--secondary-color)
}
a:visited {
    color: var(--accent-color);
}
main {
    
}
body {
}
h2 {
    
}
nav a{
    text-decoration: underline;
    color: white;
}
#current_work {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    
}
button {
    border: none;
    padding: 10px 15px;
    background-color: var(--primary-color);
    margin: 10px 15px;
    cursor: pointer;
    color: inherit;
    font-size: 30px;
    font-family: var(--primary-font);
}

#navigation-toggle {
    justify-items: center;
}
.gallery {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr;
    gap: 20px;
 }

@media (min-width: 700px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);

    }
}
@media (min-width: 1000px){
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .navigation {
        display: flex;

    }

    button {
        display: none;
    }
}
